[user]
	name = Steven Ametjan
	email = steve@hittingthebottle.com
[core]
	editor = code
	excludesfile = $HOME/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
