<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RunAtLoad</key>
        <true/>
    <key>KeepAlive</key>
        <true/>
    <key>Label</key>
        <string>com.homebridge.server</string>
    <key>ProgramArguments</key>
        <array>
             <string>/usr/local/bin/homebridge</string>
             <!-- <string>-I</string> -->
        </array>
    <key>StandardOutPath</key>
        <string>/Users/sametjan/.homebridge/logfile.log</string>
    <key>StandardErrorPath</key>
        <string>/Users/sametjan/.homebridge/logfile.log</string>
    <key>EnvironmentVariables</key>
        <dict>
        <key>PATH</key>
            <string>/Users/sametjan/.local/bin:/usr/local/opt/fzf/bin:/Users/sametjan/.rbenv/shims:/Users/sametjan/.pyenv/shims:/Users/sametjan/.pyenv/bin:/Users/sametjan/.nvm/versions/node/v10.13.0/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
            <string>/Users/sametjan</string>
        </dict>
</dict>
</plist>
